In [33]:
import pandas as pd
import numpy as np

# hello 
let's see how the words look

In [ ]:
from urllib.request import urlretrieve

In [ ]:
#! gdown --id 1n0BP_PzIL6gLG2HBooO_JEf-Y0o962bl/view?usp=share_link

In [34]:
!pip install opendatasets --upgrade --quiet

In [35]:
import opendatasets as od

In [36]:
dataset_url = 'www.kaggle.com/datasets/fedesoriano/stellar-classification-dataset-sdss17'

In [ ]:
#ad8002cc7c4512d1453e7e4532b6f987
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: mahirdaiyan
Your Kaggle Key: ··········
Downloading stellar-classification-dataset-sdss17.zip to ./stellar-classification-dataset-sdss17

100%|██████████| 6.89M/6.89M [00:00<00:00, 114MB/s]

In [ ]:
import os

In [ ]:
train_csv = '/content/stellar-classification-dataset-sdss17/star_classification.csv'

In [ ]:
raw_df = pd.read_csv(train_csv)

In [ ]:
raw_df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [ ]:
raw_df.nunique()

obj_ID          78053
alpha           99999
delta           99999
u               93748
g               92651
r               91901
i               92019
z               92007
run_ID            430
rerun_ID            1
cam_col             6
field_ID          856
spec_obj_ID    100000
class               3
redshift        99295
plate            6284
MJD              2180
fiber_ID         1000
dtype: int64

In [ ]:
inputs = raw_df[['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift']]                                                             #raw_df.drop(['rerun_ID', 'spec_obj_ID', 'class', ''], axis=1)

In [ ]:
inputs.describe()

,alpha,delta,u,g,r,i,z,redshift
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,177.629117,24.135305,21.980468,20.531387,19.645762,19.084854,18.668810,0.576661
std,96.502241,19.644665,31.769291,31.750292,1.854760,1.757895,31.728152,0.730707
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971
25%,127.518222,5.146771,20.352353,18.965230,18.135828,17.732285,17.460677,0.054517
50%,180.900700,23.645922,22.179135,21.099835,20.125290,19.405145,19.004595,0.424173
75%,233.895005,39.901550,23.687440,22.123767,21.044785,20.396495,19.921120,0.704154
max,359.999810,83.000519,32.781390,31.602240,29.571860,32.141470,29.383740,7.011245

In [ ]:
targets = raw_df[['class']]
targets.value_counts()

class
GALAXY    59445
STAR      21594
QSO       18961
dtype: int64

In [ ]:
#numeric_cols = useful_df.select_dtypes(include=np.number).columns.tolist()
#categorical_cols = useful_df.select_dtypes('object').columns.tolist()

In [ ]:
!pip install scikit-learn --upgrade --quiet

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler().fit_transform(inputs)

In [ ]:
inputs = pd.DataFrame(inputs, columns=['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift'])

In [ ]:
inputs

,alpha,delta,u,g,r,i,z,redshift
0,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,0.634794
1,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,0.779136
2,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,0.644195
3,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,0.932346
4,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,0.116123
...,...,...,...,...,...,...,...,...
99995,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,0.000000
99996,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,0.404895
99997,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,0.143366
99998,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,0.455040
99999,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,0.542944

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(inputs, targets, test_size=0.3, random_state=42, stratify=targets)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model_tree = DecisionTreeClassifier(random_state=42)
model_tree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=42)

In [ ]:
train_preds = model_tree.predict(x_train)
train_probs = model_tree.predict_proba(x_train)

In [ ]:
train_preds = pd.DataFrame(train_preds, columns=['train_preds'])

In [ ]:
train_preds

      train_preds
0          GALAXY
1          GALAXY
2          GALAXY
3            STAR
4          GALAXY
...           ...
69995      GALAXY
69996      GALAXY
69997      GALAXY
69998      GALAXY
69999         QSO

[70000 rows x 1 columns]

In [ ]:
 train_probs

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
pd.DataFrame.to_numpy(y_train)

array([['GALAXY'],
       ['GALAXY'],
       ['GALAXY'],
       ...,
       ['GALAXY'],
       ['GALAXY'],
       ['QSO']], dtype=object)

In [ ]:
accuracy_score(train_preds, y_train)

1.0

In [ ]:
model_tree.score(x_test, y_test)

0.9653

In [ ]:
59445/(100000)

0.59445

In [ ]:
from sklearn.metrics import f1_score

In [ ]:
f1_score(y_train, train_preds, average='weighted')

1.0

In [ ]:
test_preds = model_tree.predict(x_test)

In [ ]:
f1_score(y_test, test_preds, average=None)

array([0.9708062 , 0.91421076, 0.9952863 ])

In [ ]:
np.random.seed(seed=42)

In [ ]:
inputs.shape

(100000, 8)

from sklearn.manifold import TSNE
tsne = TSNE(n_components=2)
transformed = tsne.fit_transform(inputs.sample(100, random_state=42))

In [ ]:
%%time
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2)
transformed = tsne.fit_transform(inputs.sample(100, random_state=42))
transformed = pd.DataFrame(transformed, columns=['x', 'y'])

/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:783: FutureWarning: The default initialization in TSNE will change from 'random' to 'pca' in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:793: FutureWarning: The default learning rate in TSNE will change from 200.0 to 'auto' in 1.2.
  FutureWarning,

CPU times: user 1.77 s, sys: 57.9 ms, total: 1.83 s
Wall time: 1.47 s

In [ ]:
targets['class']

0        GALAXY
1        GALAXY
2        GALAXY
3        GALAXY
4        GALAXY
          ...
99995    GALAXY
99996    GALAXY
99997    GALAXY
99998    GALAXY
99999    GALAXY
Name: class, Length: 100000, dtype: object

In [ ]:
targets

        class
0      GALAXY
1      GALAXY
2      GALAXY
3      GALAXY
4      GALAXY
...       ...
99995  GALAXY
99996  GALAXY
99997  GALAXY
99998  GALAXY
99999  GALAXY

[100000 rows x 1 columns]

In [ ]:
import pickle

In [ ]:
pickle.dump(model_tree, open('model_tree.pkl', 'wb'))